#ShopPage {
  background-color: var(--bg-light) !important;
}

.shop-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(265px, 1fr));
  gap: 30px;
  width: 100%;
  padding: 10px 0 50px 0;
}

.shop-grid-item {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.form-select:focus {
  border-color: var(--primary-color) !important;
  box-shadow: 0 0 0 0.25rem rgba(75, 121, 14, 0.15) !important;
}

.card {
  transition: all 0.3s ease;
}

.shop-filter-card {
  border-radius: var(--border-radius-md) !important;
}

.shop-register-btn {
  font-size: 14px;
  border-radius: var(--border-radius-lg);
  border: none;
}

.shop-no-results-icon {
  font-size: 3rem;
  color: #ccc;
}

@media (max-width: 575.98px) {
  .shop-grid {
    grid-template-columns: 1fr;
    max-width: 320px;
    margin: 0 auto;
  }
}
