:root {
  --primary-color: #4b790e;
  --primary-hover: #3c610b;
  --bg-light: #f8fafd;
  --heading-color: #212b36;
  --text-color: #637381;
  --border-color: #efefef;
  --font-family: 'Inter', sans-serif;
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --border-radius-lg: 50px;
  --shadow-sm: 0 2px 4px rgba(0, 0, 0, 0.05);
  --shadow-md: 0 8px 30px rgba(0, 0, 0, 0.07);
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--bg-light);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
